* {
  background-color: black;

  .title {
    width: 260px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 70px;
  }
  .all {
    font-family: 'Sanchez', serif;
    color: white;
  }
}
