* {
  background-color: black;

  .title {
    text-align: center;
    font-family: 'Creepster';
    text-shadow: 2px 6px #a2bf43;
    -webkit-text-stroke: 0.1px black;
    color: #00b0ca;
    font-size: 44px;
  }
  .all {
    font-family: 'Sanchez', serif;
    color: white;
  }
}
