@import '../styles/reset.scss';

.card {
  display: inline-block;
  text-decoration: none;
  border: 50px;
  margin: 20px;

  &_picture {
    width: 200px;
    background-color: #00b0c9;
  }
  &_description {
    margin-bottom: 0px;

    &_title {
      padding-top: 5px;
      color: white;
      background-color: #00b0c9;
      padding-left: 10px;
    }
    &_text {
      color: white;
      background-color: #00b0c9;
      padding-bottom: 5px;
      padding-left: 10px;
    }
  }
}
