.detail {
  text-align: center;
  margin-top: 100px;

  &_container {
    margin-bottom: 10px;
    font-size: 17px;

    &_link {
      color: white;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  &_arrow {
    height: 15px;
  }

  &_list {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    margin: 15px;
  }
}
